<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">講師一覧</h3>
    </div>
  </div>
  <table class="table">
    <thead class="thead-lignt bg-light">
      <tr>
        <th>講師ID</th>
        <th>氏名</th>
        <th>ステータス</th>

      </tr>
    </thead>
    <tbody>
      <% if @teachers.present? %>
        <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= link_to teacher.last_name + teacher.first_name, admin_teacher_path(teacher.id) %></td>
          <td><!--有効、退会ステータス-->
              <% if teacher.is_deleted == true %>
                <strong class="text-success">有効</strong>
              <% else %>
                退会
              <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if @teachers.present? %>
    <%= paginate @teachers %>
  <% end %>
</div>