<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">生徒一覧</h3>
    </div>
  </div>
  <table class="table">
    <thead class="thead-lignt bg-light">
      <tr>
        <th>生徒ID</th>
        <th>氏名</th>
        <th>ステータス</th>

      </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
        <tr>
          <td><%= student.id %></td>
          <td><%= link_to student.last_name + student.first_name, admin_student_path(student.id) %></td>
          <td><!--有効、退会ステータス-->
              <% if student.is_deleted == true %>
                <strong class="text-success">有効</strong>
              <% else %>
                退会
              <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= paginate @students %>
</div>