<div class="container">
  <div class="form-group row">
    <div class="col">
      <h3 class="mt-2">生徒選択</h3>
    </div>
  </div>
  <table class="table">
    <thead class="thead-lignt bg-light">
      <tr>
        <th>生徒ID</th>
        <th>氏名</th>

      </tr>
    </thead>
    <tbody>
      <% if @students.present? %>
        <% @students.each do |student| %>
        <tr>
          <td><%= student.id %></td>
          <td><%= link_to student.last_name + student.first_name, parent_homework_path(student.id) %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>