 <footer class="fixed-bottom text-center p-2 bg-light " style="background-image: url('/assets/background2.jpg'); background-size: 80% ">
  <div class='container mt-2 mb-2'>
  	StuBond
  </div>
</footer>